<div class="div-Container">
    <div class="main">
        <button routerLink="/login" class='btn'>Login</button>
        <button (click)="SignUpCompo()">sign Up</button>
        <button routerLink="/databinding" class='btn'>data Bindinng</button>
        <button (click)="directives()" class='btn'>directives</button>
        <button (click)="LifeCyclehooksComponent ()">LifeCyclehooksComponent </button>
        <button routerLink="/login" class='btn'>ParentComponent</button>
        <button routerLink="/login" class='btn'>ChildComponent</button>

    </div>
</div>