<div>
<form [formGroup] = "signUpForm">
    <label >Name</label><br>
    <input type="text" formControlName="Name"><br>
    <label >Mob No</label><br>
    <input type="text" formControlName="Mobile"><br>
    <label >Pancard No</label><br>
    <input type="text" formControlName="Pancard "><br>
    <label >Email</label><br>
    <input type="text" formControlName="Email"><br>
    <label >Password</label><br>
    <input type="text" formControlName="Password"><br>
    <label >Confirm Password</label><br>
    <input type="text" formControlName="ConfirmPassword"><br>
</form>
</div>